{% include "headerpart.html" %}

<!-- main part start-->
<div id="content">
<!-- top folder  -->
  <div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" ><i class="icon-home"></i>首页</a> <a>ETL监控 </a> <a class="current">主题状态监控</a>
		</div>
	</div>
<!-- top folder end -->
<!-- main body backgrand-->
	<div class="container-fluid" style="alert:center">
			<!-- 主体信息 -->	
		<div class="widget-box">
			<!-- 头部当前目录 -->
		<div class="widget-title" ><span class="icon"> <i class="icon-tag"></i> </span>
          <h5>  主题数据同步状态监控一览</h5>
         	</div>
         
    <!-- 主要显示内容区域 -->
	<div class="widget-content tab-content"  >
		{% for topicdata in topiclist %}	
		<!-- 单行数据显示 -->
		<div class="row-fluid" style="margin:0px 0px 0px 10px; ">

			<div class="span1" ></div>
			<div class="span2" ><!-- 代替第一个换行，并在最后显示一个分割线段 -->
           	<h6> 主题名：{{topicdata.topicname}}
			<br>
			主题表：{{topicdata.topictable}}
			<hr style="margin:3px" >
			更新：{{topicdata.topictime}}
			</h6>
      		</div>
			
			<div class="span1" style="text-align:center;margin:0px 10px">
			{% if  topicdata.dataget.title!='' %}
			<a href="#pop-dataget-{{topicdata.topictable}}" data-toggle="modal">
			{% endif %}
				<h1>
				{% if  topicdata.dataget.stats=='ING' %}
				<i class="icon-refresh" style="color:RoyalBlue;"></i>
				{% elif topicdata.dataget.stats=='WAR' %}
				<i class="icon-warning-sign" style="color:Goldenrod"></i>
				{% elif topicdata.dataget.stats=='SUC' %}
				<i class="icon-ok-circle" style="color:green"></i>
				{% elif topicdata.dataget.stats=='FAI' %}
				<i class="icon-remove-circle" style="color:Firebrick"></i>
				{% elif topicdata.dataget.stats=='STOP' %}
				<i class="icon-ban-circle" style="color:DimGray"></i>
				{% endif %}
				</h1>
			 	数据获取
			{% if topicdata.dataget.title!='' %}
			</a>
				<div id="pop-dataget-{{topicdata.topictable}}" class="modal hide" style="display: none;" aria-hidden="true">
              		<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h3>{{topicdata.dataget.title}}</h3>
             	 	</div>
             		<div class="modal-body">
               			<p>{{topicdata.dataget.memo}}</p>
              		</div>
           		 </div>
			{% endif %}
			</div>   
			   
			<div class="span1" style="text-align:center;;margin:-10px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>
			  
			<div class="span1" style="text-align:center;margin:0px 10px">
			{% if topicdata.datahandle.title!='' %}
			<a href="#pop-datahandle-{{topicdata.topictable}}" data-toggle="modal">
			{% endif %}
				<h1>
				{% if  topicdata.datahandle.stats=='ING' %}
				<i class="icon-refresh" style="color:RoyalBlue;"></i>
				{% elif topicdata.datahandle.stats=='WAR' %}
				<i class="icon-warning-sign" style="color:Goldenrod"></i>
				{% elif topicdata.datahandle.stats=='SUC' %}
				<i class="icon-ok-circle" style="color:green"></i>
				{% elif topicdata.datahandle.stats=='FAI' %}
				<i class="icon-remove-circle" style="color:Firebrick"></i>
				{% elif topicdata.datahandle.stats=='STOP' %}
				<i class="icon-ban-circle" style="color:DimGray"></i>
				{% endif %}
				</h1>
				数据处理
			{% if topicdata.datahandle.title!='' %}
			</a>
			<div id="pop-datahandle-{{topicdata.topictable}}" class="modal hide" style="display: none;" aria-hidden="true">
              	<div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>{{topicdata.datahandle.title}}</h3>
                </div>
                <div class="modal-body">
                <p>{{topicdata.datahandle.memo}}</p>
                </div>
            </div>
			{% endif %}
			</div>

			<div class="span1" style="text-align:center;margin:-10px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>

			<div class="span1" style="text-align:center;margin:0px 10px">
			{% if  topicdata.datavalidate.title!='' %}
			<a href="#pop-datavalidate-{{topicdata.topictable}}" data-toggle="modal">
			{% endif %}
				<h1>
				{% if  topicdata.datavalidate.stats=='ING' %}
				<i class="icon-refresh" style="color:RoyalBlue;"></i>
				{% elif topicdata.datavalidate.stats=='WAR' %}
				<i class="icon-warning-sign" style="color:Goldenrod"></i>
				{% elif topicdata.datavalidate.stats=='SUC' %}
				<i class="icon-ok-circle" style="color:green"></i>
				{% elif topicdata.datavalidate.stats=='FAI' %}
				<i class="icon-remove-circle" style="color:Firebrick"></i>
				{% elif topicdata.datavalidate.stats=='STOP' %}
				<i class="icon-ban-circle" style="color:DimGray"></i>
				{% endif %}
				</h1>
				主题校验
			{% if topicdata.datavalidate.title!='' %}
			</a>
			<div id="pop-datavalidate-{{topicdata.topictable}}" class="modal hide" style="display: none;" aria-hidden="true">
              	<div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>{{topicdata.datavalidate.title}}</h3>
                </div>
                <div class="modal-body">
                <p>{{topicdata.datavalidate.memo}}</p>
                </div>
            </div>
			{% endif %}
			</div>   
			   
			<div class="span1" style="text-align:center;margin:-10px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>
			  
			<div class="span1" style="text-align:center;margin:0px 10px">
			{% if topicdata.datawrit.title!='' %}
			<a href="#pop-datawrit-{{topicdata.topictable}}" data-toggle="modal">
			{% endif %}
			<h1>
				{% if  topicdata.datawrit.stats=='ING' %}
				<i class="icon-refresh" style="color:RoyalBlue;"></i>
				{% elif  topicdata.datawrit.stats=='WAR' %}
				<i class="icon-warning-sign" style="color:Goldenrod"></i>
				{% elif topicdata.datawrit.stats=='SUC' %}
				<i class="icon-ok-circle" style="color:green"></i>
				{% elif topicdata.datawrit.stats=='FAI' %}
				<i class="icon-remove-circle" style="color:Firebrick"></i>
				{% elif topicdata.datawrit.stats=='STOP' %}
				<i class="icon-ban-circle" style="color:DimGray"></i>
				{% endif %}
			</h1>
			数据写入
			{% if topicdata.datawrit.title!='' %}
			</a>
				<div id="pop-datawrit-{{topicdata.topictable}}" class="modal hide" style="display: none;" aria-hidden="true">
              	<div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>{{topicdata.datawrit.title}}</h3>
				  </div>
				  <div class="modal-body">
                <p>{{topicdata.datawrit.memo}}</p>
              </div>
            </div>
			{% endif %}
			</div>

			<div class="span2" style="vertical-align: middle;text-align:center;margin-top: 20px;">

 				<!--
			<a href="#pop-datarelation-{topicdata.tableid}}" data-toggle="modal">
				<h5 style="font-weight: normal;"><li class="icon-zoom-in"></li>&nbsp;主题数据来源</h5>
			</a>
				<div id="pop-datarelation-{topicdata.tableid}}" class="modal hide" style="display: none;" aria-hidden="true">
					<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">×</button>
					<h3>{topicdata.topicname}}被引用于</h3>
					</div>
					<div class="modal-body" style="display: inline-block;"></div>
					<div class="modal-body" style="text-align:left;display: inline-block;">
					{# for  r in topicdata.datarelationlist #}
					<p>{loop.index0 +1}}.{r.fronttablecode}}:
					{r.fronttablename}}</p>
						{# endfor #}
					</div>
					<div class="modal-body" style="display: inline-block;"></div>
				 </div>
 				<hr width="70%" style="margin:0px">
					-->

				{% if topicdata.dashboardlist =='' %}
				未维护看板<br>
				<!--`````a href="javascript:">点此处维护</a-->
				{% else %}
					<div>
					<h5>被以下看板引用</h5>
 					<hr width="70%" style="margin:0px">
					<div >
						{% for topicd in topicdata.dashboardlist %}
							{% if loop.index0<2 or (len(topicdata.dashboardlist)<3 and loop.index0==2) %}
								<p>{{loop.index0 +1}}.{{topicd.behindtablename}}</p>
							{% endif %}
						{% endfor %}
						{% if (len(topicdata.dashboardlist)>2) %}
							<a title="" id="example4" data-content="主题 {{topicdata.topicname}} 被以下看板引用
							{% for topicd in topicdata.dashboardlist %}
								<br>{{loop.index0 +1}}.{{topicd.behindtablename}}
							{% endfor %}"
						   data-placement="left" data-toggle="popover" class="btn btn-success" href="javascript:"
						   data-original-title="看板信息">更多看板信息</a>
						{% endif %}
					</div>
				 </div>
				{% endif %}
      		</div>
			   
		</div>

 				<hr  style="margin:15px"> <!-- 分隔符 -->
    	<!-- 一行完成 -->
    	{% endfor %}

	  <!-- 单行数据显示 -->
		<div class="row-fluid" style="margin:0px 0px 0px 10px;">

			<div class="span2" style="margin:15px 0px 0px 30px; text-align:center">
           	<h5>图标定义</h5>
      		</div>
      		
				
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-refresh" style="color:RoyalBlue;"></i></h1>   
			正在执行      
			</div>  
			   
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-warning-sign" style="color:Goldenrod"></i></h1>    
			告警信息</div>   
			   
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-ok-circle" style="color:green"></i></h1>     
			执行成功
			</div> 
			   
			<div class="span2" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-remove-circle" style="color:Firebrick"></i></h1>    
			执行失败
			</div>
		
			<div class="span2" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-ban-circle" style="color:DimGray"></i></h1>   
			没有执行	  
			</div> 
			   
			    
      		<!--div class="span1" style="margin:0px 0px;text-align:center;display: table-cell;vertical-align:middle;width:50">
      		<h3 style="color:MediumBlue">
      		<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>
      		</h3>
      		流程
      		</div>
			 
      		
			<div class="span1" style="margin:0px;text-align:center;">
			<h1><i class="icon-info-sign" style="color:RoyalBlue"></i></h1>   
			提示信息
			</div> 
				 
			<div class="span1" style="margin:0px;text-align:center">
			<h1><i class="icon-off" style="color:Violet"></i></h1>
			流程关闭
			</div-->
		</div>
      <!-- 一行完成 -->
		</div>
         
         
    </div>
      <!-- 主要显示区域结束  -->
</div>
<!-- main body end -->
</div>
<!-- main part end-->

{% include "footerpart.html" %}