{% include "headerpart.html" %}

<!-- main part start-->
<div id="content">
<!-- top folder  -->
  <div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" ><i class="icon-home"></i>首页</a> <a>ETL监控 </a> <a class="current">主题状态监控</a>
		</div>
	</div>
<!-- top folder end -->
<!-- main body backgrand-->
	<div class="container-fluid" style="alert:center">
			<!-- 主体信息 -->	
		<div class="widget-box">
			<!-- 头部当前目录 -->
		<div class="widget-title" ><span class="icon"> <i class="icon-tag"></i> </span>
          <h5>  主题数据同步状态监控一览</h5>
         	</div>
         
    <!-- 主要显示内容区域 -->
	<div class="widget-content tab-content"  >
		{% for topicdata in topiclist %}	
		<!-- 单行数据显示 -->
		<div class="row-fluid" style="margin:0px 0px 0px 10px; ">
		
			<div class="span1">
			</div>   
		
			<div class="span2" ><!-- 代替第一个换行，并在最后显示一个分割线段 -->
           	<h6> 主题名：{{topicdata.topicname[0]}}
			<br>
			主题表：{{topicdata.topictable[0]}} 
			<hr style="margin:3px" >
			更新：{{topicdata.topictime[0]}}
			</h6>
      		</div>
      		
			
			<div class="span1" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-{{topicdata.dataget[0]}}" style="color:green"></i></h1>     
			 数据获取
			</div>   
			   
			<div class="span1" style="text-align:center;;margin:0px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>
			  
			<div class="span1" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-{{topicdata.datahandle[0]}}" style="color:green"></i></h1>   
			数据处理
			</div> 
			



			<div class="span1" style="text-align:center;margin:0px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>
			  
			<div class="span1" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-{{topicdata.datavalidate[0]}}" style="color:green"></i></h1>      
			主题校验
			</div>   
			   
			<div class="span1" style="text-align:center;margin:0px 10px"><br><h3 style="color:MediumBlue"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></h3></div>
			  
			<div class="span1" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-{{topicdata.datawrit[0]}}" style="color:green"></i></h1>   
			数据写入	  
			</div> 
			
			<div class="span2" >
            <h6 style="font-weight: normal;">主题数据来源：
			{%  for dare in topicdata.datarelation %}
				<br>
				{{dare.tablename[0]}}
			{% endfor %}
			</h6>
      		</div>  
			   
		</div>
		<hr> <!-- 分隔符 -->
    	<!-- 一行完成 -->
    	{% endfor %}
    	
    	
      <hr>
    	<!-- 999999999999999999999999 -->
      <hr>
	  <!-- 单行数据显示 -->
		<div class="row-fluid" style="margin:0px 0px 0px 10px;">

			<div class="span2" style="margin:15px 0px 0px 30px; text-align:center">
           	<h5>图标定义</h5>
      		</div>
      		
				
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-refresh" style="color:RoyalBlue;"></i></h1>   
			正在执行      
			</div>  
			   
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-warning-sign" style="color:Goldenrod"></i></h1>    
			告警信息</div>   
			   
			<div class="span2" style="margin:0px;text-align:center">
			<h1><i class="icon-ok-circle" style="color:green"></i></h1>     
			执行成功
			</div> 
			   
			<div class="span2" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-remove-circle" style="color:Firebrick"></i></h1>    
			执行失败
			</div>
		
			<div class="span2" style="text-align:center;margin:0px 10px">
			<h1><i class="icon-ban-circle" style="color:DimGray"></i></h1>   
			没有执行	  
			</div> 
			   
			    
      		<!--div class="span1" style="margin:0px 0px;text-align:center;display: table-cell;vertical-align:middle;width:50">
      		<h3 style="color:MediumBlue">
      		<i class="icon-chevron-right"></i><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i>
      		</h3>
      		流程
      		</div>
			 
      		
			<div class="span1" style="margin:0px;text-align:center;">
			<h1><i class="icon-info-sign" style="color:RoyalBlue"></i></h1>   
			提示信息
			</div> 
				 
			<div class="span1" style="margin:0px;text-align:center">
			<h1><i class="icon-off" style="color:Violet"></i></h1>
			流程关闭
			</div-->
		</div>
      <!-- 一行完成 -->
		</div>
         
         
    </div>
      <!-- 主要显示区域结束  -->
</div>
<!-- main body end -->
</div>
<!-- main part end-->

{% include "footerpart.html" %}