{% include "headerpart.html" %}
<!-- main part start-->
<div id="content">
<!-- top folder  -->
  <div id="content-header">
		<div id="breadcrumb">
			<a class="tip-bottom" ><i class="icon-home"></i>首页</a> <a>ETL监控 </a> <a class="current">数据同步监控</a>
		</div>
  </div>
<!-- top folder end -->
<!-- main body backgrand-->
	<div class="container-fluid">
	    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                <h5>表数据同步和处理状态监控</h5>
            </div>
            <div class="widget-content nopadding">
                <table id="" class="table table-bordered data-table">
                    <thead>
                    <tr>
                      <th width="13%"><h5 style="margin:5px">来源</h5></th>
                      <th width="13%"><h5 style="margin:5px">目标</h5></th>
                      <th width="15%"><h5 style="margin:5px">说明</h5></th>
                      <th width="9%"><h5 style="margin:5px">状态</h5></th>
                      <th width="15%"><h5 style="margin:5px">同步时间</h5></th>
                      <th width="10%"><h5 style="margin:5px">数据条数</h5></th>
                      <th width="15"><h5 style="margin:5px">同步条件</h5></th>
                      <th width="10%"><h5 style="margin:5px">更多信息</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for tableinfo in tablelist %}
                        <tr class="gradea">
                          <td style="vertical-align: middle"><h5>{{tableinfo.sourcetablename}}</h5></td>
                          <td style="vertical-align: middle"><h5>{{tableinfo.targettablename}}</h5></td>
                          <td style="vertical-align: middle"><h5>{{tableinfo.remark}}</h5></td>
                          <td style="vertical-align: middle;text-align:center;">

                              <a href="#pop-syncstats-{{tableinfo.tableid}}" data-toggle="modal">

                          <h4 style="margin:0px">
                              	{% if tableinfo.syncstats=='ING' %}
                                <i class="icon-refresh" style="color:RoyalBlue;"></i>
                          </h4>
                                正在执行
                                {% elif tableinfo.syncstats=='WAR' %}
                                <i class="icon-warning-sign" style="color:Goldenrod"></i>
                          </h4>
                                数据告警
                                {% elif tableinfo.syncstats=='SUC' %}
                                <i class="icon-ok-circle" style="color:green"></i>
                          </h4>
                                执行成功
                                {% elif tableinfo.syncstats=='FAI' %}
                                <i class="icon-remove-circle" style="color:Firebrick"></i>
                          </h4>
                                执行失败
                                {% elif tableinfo.syncstats=='STOP' %}
                                <i class="icon-ban-circle" style="color:DimGray"></i>
                          </h4>
                                未执行
                                {% endif %}
                              </a>

                              <div id="pop-datavalidate-{{tableinfo.topictable}}" class="modal hide" style="display: none;" aria-hidden="true">
                                <div class="modal-header">
                                <button data-dismiss="modal" class="close" type="button">×</button>
                                <h3>{{topicdata.datavalidate.title}}</h3>
                                </div>
                                <div class="modal-body">
                                <p>{{topicdata.datavalidate.memo}}</p>
                                </div>
                            </div>

                          </td>


                          <td style="vertical-align: middle;text-align:center"><h5>{{tableinfo.synctime}}</h5></td>
                          <td style="vertical-align: middle;text-align:right"><h5 style="text-align: right; width: 80%;">{{tableinfo.syncappend}}</h5></td>
                          <td style="vertical-align: middle;text-align:center"><h5 style="text-align: center;">{{tableinfo.synccondition}}</h5></td>
                          <td style="vertical-align: middle;text-align:center">
                              <a href="#pop-table-{{tableinfo.tableid}}" data-toggle="modal"><i class="icon-search"></i>主题引用</a>

                              <div id="pop-table-{{tableinfo.tableid}}" class="modal hide" style="display: none;" aria-hidden="true">
                                <div class="modal-header">
                                    <button data-dismiss="modal" class="close" type="button">×</button>
                                    <h3>{{tableinfo.targettablename}} 被以下主题引用</h3>
                                </div>
                                <div class="modal-body">
                                    {% for dr in tableinfo.datarelationlist%}
                                    <p>{{dr.behindtablecode}} : {{dr.behindtablename}}</p>
                                    {% endfor %}
                                </div>
                             </div>


                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
  </div>
<!-- main part end-->
{% include "footerpart.html" %}