<script type="text/javascript">

var timestamp=new Date().getTime()；
</script>

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"><a target="_blank" href="http://www.luoyuit.com/">Copyright &copy; 2020.LUOYUIT.COM All rights reserved.</a> </div>
</div>

<!--end-Footer-part-->
<script>
    var version=1;
    function(){
        var mDate=new Date();
        version=mDate.getMilliseconds();
        console.log(version)
    }();   

</script>

<script>document.write('<script src="../static/js/jquery.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.ui.custom.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/bootstrap.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.gritter.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.peity.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.interface.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.popover.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/excanvas.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.flot.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.flot.resize.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/bootstrap-colorpicker.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/bootstrap-datepicker.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.toggle.buttons.html?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/masked.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/fullcalendar.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.validate.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.wizard.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.login.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.tables.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.chat.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.calendar.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.form_validation.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.uniform.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/select2.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/jquery.dataTables.min.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.form_common.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/wysihtml5-0.3.0.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/bootstrap-wysihtml5.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/matrix.dashboard.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/sha1.js?' + new Date().getTime() + '"><\/script>')</script>
<script>document.write('<script src="../static/js/mydiy.js?' + new Date().getTime() + '"><\/script>')</script>

</body>

</html>
