{% include "headerpart.html" %}

<!-- main part start-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="返回首页"><i class="icon-home"></i>首页</a></div>
  </div>
  <div class="container-fluid">
<!-- codeing begin -->

	<img src="img/logo.png" alt="Logo"  width="200"/>
<H2>welcome to Userscrm Service Framework<br /> 
欢迎使用 优服务框架系统 .</H2>
 <br />
 <br />
<div> <h1>{{table_name}}</h1></div>

<!-- codeing end -->
 </div>
</div>
<!-- main part end-->
{% include "footerpart.html" %}